<div
    *ngFor="let imageUrl of imagesUrls; index as index"
    class="image-container"
>
    <div class="buttons-container">
        <button *ngIf="allowImagesDownload" class="button" (click)="onPhotoDownload.emit(index)">💾</button>

        <button *ngIf="allowImagesDeletion" class="button" (click)="onPhotoDelete.emit(index)">❌</button>
    </div>

    <img *ngIf="imageUrl" class="image" [src]="imageUrl" />
</div>
<div
    *ngFor="let reconstructedModel of reconstructedModels; index as index"
    class="image-container reconstruction-models"
>
    <div class="buttons-container">
        <button *ngIf="allowImagesDownload" class="button" (click)="onPhotoDownload.emit(index)">💾</button>

        <button *ngIf="allowImagesDeletion" class="button" (click)="onPhotoDelete.emit(index)">❌</button>
    </div>

    <app-three-obj-loader [objFileText]="reconstructedModel" />
</div>

