:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 121px);
    color: var(--text-color);

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            margin: 0 0 20px 0;
            font-weight: bold;
            font-size: 42px;
            text-align: center;
        }

        .or-separator {
            position: relative;
            width: 100%;
            text-align: center;
            font-size: 32px;
            margin: 10px 0;

            &::before,
            &::after {
                content: "";
                position: absolute;
                display: block;
                top: calc(50% + 2px);
                width: 40%;
                height: 3px;
                border-radius: 5px;
                background-color: white;
            }

            &::after {
                right: 0;
            }

            &::before {
                left: 0;
            }
        }
    }
}
