:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: var(--text-color);

    .title,
    .navigation-item {
        transition: filter 0.2s ease-out;
        cursor: pointer;

        &:hover {
            filter: brightness(0.8);
        }

        &:active {
            filter: brightness(0.6);
        }
    }

    .title {
        margin: 0;
        font-size: 64px;
        font-weight: bold;
    }

    .navigation {
        display: flex;

        .navigation-item {
            color: inherit;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            font-size: 26px;

            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }
    }
}
