<div class="section input-section">
    <p class="title">Input Files</p>

    <app-gallery
        class="display"
        [allowImagesDeletion]="true"
        [imagesUrls]="uploadedImagesURLs"
        (onPhotoDelete)="onPhotoDelete($event)"
    ></app-gallery>

    <div class="controls">
        <app-button (onClick)="onUpload()">Upload New</app-button>
    </div>
</div>

<div class="section output-section">
    <p class="title">Output</p>

    <app-gallery
        class="display"
        [imagesUrls]="processedImagesURLs"
    ></app-gallery>

    <div class="controls">
        <app-button [disabled]="!downloadAvailable" (onClick)="onDownload()">Download</app-button>
    </div>
</div>

<div class="controls">
    <app-button [disabled]="!processAvailable" (onClick)="onProcess()"
        >Recognize</app-button
    >
</div>
