<div class="section input-section">
    <p class="title">Input Files</p>

    <app-gallery
        class="display"
        [allowImagesDeletion]="true"
        [imagesUrls]="filesToProcessPreviewURLs"
        (onPhotoDelete)="onRemoveFile($event)"
    ></app-gallery>

    <div class="controls">
        <input
            type="checkbox"
            name="scales"
            [checked]="useFaceReconstruction"
            (change)="useFaceReconstruction = !useFaceReconstruction"
        >
        <label class="checkbox" for="scales">Make face reconstruction</label>
        <app-button (onClick)="onUpload()">Upload New</app-button>
    </div>
</div>

<div class="section output-section">
    <p class="title">Output</p>

    <app-gallery
        class="display"
        [allowImagesDownload]="true"
        [imagesUrls]="processedFilesPreviewURLs"
        [videoUrls]="processedVideoFilesPreviewURLs"
        [reconstructedModels]="reconstructedModels"
        (onPhotoDownload)="onDownload($event)"
    ></app-gallery>
</div>

<div class="controls">
    <app-button [disabled]="!processAvailable" (onClick)="onProcess()"
        >Recognize</app-button
    >
</div>
