<div class="section input-section">
    <p class="title">Input Files</p>

    <app-gallery
        class="display"
        [allowImagesDeletion]="true"
        [imagesUrls]="filesToProcessPreviewURLs"
        (onPhotoDelete)="onRemoveFile($event)"
    ></app-gallery>

    <div class="controls">
        <app-button (onClick)="onUpload()">Upload New</app-button>
    </div>
</div>

<div class="section output-section">
    <p class="title">Output</p>

    <app-gallery
        class="display"
        [allowImagesDownload]="true"
        [imagesUrls]="processedFilesPreviewURLs"
        (onPhotoDownload)="onDownload($event)"
    ></app-gallery>
</div>

<div class="controls">
    <app-button [disabled]="!processAvailable" (onClick)="onProcess()"
        >Recognize</app-button
    >
</div>
