:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
height: calc(100% - 121px);
    padding: 100px;
    color: var(--text-color);

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            margin: 0 0 20px 0;
            font-weight: bold;
            font-size: 52px;
        }

        .content {
            margin: 0;
            font-size: 36px;
        }
    }
}
